---
tags:
  - ASE14
  - equivalence-checking
  - paper-reading
---
![[Figure 1.png]]

![[Paper Reading/Automated Regression Verification__assets/Figure 2.png]]

![[Paper Reading/Automated Regression Verification__assets/Figure 3.png]]

![[Paper Reading/Automated Regression Verification__assets/Figure 4.png]]

一句话总结：用 UF 替换函数调用（上近似）